<div class="content">
<div class="landingpage">

  <%= render "sessions/login_form" %><br>


  <div class="section">
  <!--   <%= image_tag("neverbelate.jpg", :class => "feature-pic")%><br><br> -->
  </div>

  <div class="section1">
    <h1>Features</h1>

    <%= image_tag("iphoneloggedinpage.jpg", :class => "feature-pic")%><br><br>
  </div>

  <div class="section1">
    <p> Find Your Location And Nearest Bart Station</p>
    <%= image_tag("iphonefoundyou.jpg", :class => "feature-pic")%><br><br>
  </div>

  <div class="section1">
     <p> Get Walk Time To Nearest Bart Station </p>
     <%= image_tag("iphonewalktime.jpg", :class => "feature-pic")%><br><br>
  </div>

  <div class="section1">
     <p>Get A Text Alert To Leave</p>
     <%= image_tag("iphonetext.jpg", :class => "feature-pic")%><br><br>
  </div>


<div class="section2">
  <p>By<br> Lucas Mathis<br> Michael Gleeson <br> Jordan Luyke <br> & Nicholas Cu</p>
  <p>Made at DevBootcamp, 2014</p>
</div>




</div>
</div>