<div class="trip_form">

  <%= form_for Trip.new do |f| %>

    <%= f.label :first_name %>:
    <%= f.text_field :first_name %><br />

    <%= f.label :departure_station %>
    <%= f.collection_select(:user_id, Station.all, :id, :name) %>

    <%= f.label :destination_station %>
    <%= f.collection_select(:user_id, Station.all, :id, :name) %>
    <%= f.submit %>
  <% end %>

</div>
