<div class="container">
<div class="tripform">
  <%= link_to "Find Me", "#", remote: true, id: 'geolocateButton', :class => "homepage-button" %><br>

  <%= form_for BartTrip.new do |f| %>
    <%= f.label :current_location %>:
    <br>
    <%= f.text_field :current_location, autofocus: true, placeholder: "Find Me!"%>
    <br>

    <%= f.label :departure_station %>:
    <%= f.collection_select(:departure_station, Station.all, :abbr, :name, :include_blank => true) %>
<br>
    <%= f.label :destination_station %>:
    <%= f.collection_select(:destination_station, Station.all, :abbr, :name, :include_blank => true) %>
    <%= f.submit "Create", :class => "homepage-button" %>
  <% end %>

</div>
</div>

