<div class="container">
  <div class="tripform">
    <%= link_to "Find Me", "#", remote: true, id: 'geolocateButton', :class => "homepage-button" %><br>
    <%= form_for @bart_trip do |f| %>
<div class="tripform">
  <%= link_to "Find Me", "#", id: 'geolocateButton', :class => "homepage-button" %><br>
  <% flash.each do |name, msg| -%>
    <%= content_tag :div, msg, class: name %>
  <% end -%>
  <%= form_for BartTrip.new do |f| %>
g    <%= f.label :current_location %>:
    <br>
    <%= f.text_field :current_location, autofocus: true, placeholder: "Find Me!"%>
    <br>
    <%= f.label :departure_station %>:
    <%= f.collection_select(:departure_station, @stations, :abbr, :name, :include_blank => true) %>
    <br>
    <%= f.label :destination_station %>:
    <%= f.collection_select(:destination_station, @stations, :abbr, :name, :include_blank => true) %>
    <%= f.submit "GO", :class => "homepage-button" %>
    <% end %>
  </div>
</div>
