<div class="content">

  <div class="notice">
    <% if flash[:error] %>
      <p class="error"><%= flash[:error]  %></p>
    <% end %>
  </div>

  <%= form_for @user do |f| %>
    <%= f.label :username %>:
    <%= f.text_field :username %><br />

    <%= f.label :password %>:
    <%= f.text_field :password %><br />
<div class="phone-number">
    <%= f.label :phone_number %>:
    <%= f.telephone_field :phone_number %><br />
</div>
    <%= f.label :email %>:
    <%= f.text_field :email %><br />

    <%= f.submit id: "new_user"%>
  <% end %>


</div>


<!-- t.string   "username"
t.string   "password_digest"
t.string   "walk_speed",      :default => "normal"
t.string   "phone_number"
t.string   "email" -->
