<div class="content">
  <div id="profile">
    profile for <div class="userinfo"><%= @user.username %></div>

      email<br>
      <div class="userinfo"><%= @user.email %></div>
      phone:<br><div class="userinfo"><%= @user.format_phone_number %></div>
      walkin' speed:<br> <div class="userinfo"><%= @user.walk_speed %></div>
      <%= render "my_trips", :user => @user %>
</div>
</div>
