<div class="content">
  <h1>
    profile for <%= @user.username %>
  </h1>

  <ul class="list-no-decoration">
    <li>
      Email: <%= @user.email %>
    </li>
    <li>
      Phone number: <%= @user.phone_number %>
    </li>
    <li>
      Walk speed: <%= @user.walk_speed %>
    </li>
  </ul>

  <%= link_to "Edit", edit_user_path(@user) %>
</div>
