
<div class="container">
  <div id="profile">
      Hello<div class="userinfo"><%= @user.username %></div>
      <%= render "my_trips", :user => @user %><br>
      email:<br>
      <div class="userinfo"><%= @user.email %></div>
      phone:<br><div class="userinfo"><%= @user.format_phone_number %></div><br>
     <%= link_to "Edit", edit_user_path(@user), :method => "get", :class => "homepage-button", :id => "link" %>
</div>
</div>

