<!DOCTYPE html>
<html>
<head>
  <title>Time2ghost</title>
  <!-- <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'> -->
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div id="navbar">
    <div id='imgcontainer'>
    <%= image_tag('logo.png') %>
    </div>
    <div id="user-info">
      <% if @current_user %>
        <%= render "homepage/logged_in" %>
      <% else %>
       <%= render "homepage/login_signup" %>
      <% end %>
    </div>
  </div>
<%= yield %>
</body>
</html>
